[submodule "vendor/submodules/autopair"]
	path = vendor/submodules/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "vendor/submodules/ruby-end"]
	path = vendor/submodules/ruby-end
	url = https://github.com/rejeep/ruby-end.git
[submodule "vendor/submodules/rinari"]
	path = vendor/submodules/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/submodules/cucumber.el"]
	path = vendor/submodules/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/submodules/rspec-mode"]
	path = vendor/submodules/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "vendor/submodules/web-mode"]
	path = vendor/submodules/web-mode
	url = https://github.com/fxbois/web-mode.git
