[submodule "vendor/submodules/autopair"]
	path = vendor/submodules/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "vendor/submodules/ruby-end"]
	path = vendor/submodules/ruby-end
	url = https://github.com/rejeep/ruby-end.git
[submodule "vendor/submodules/rspec-mode"]
	path = vendor/submodules/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
